.Review {
  display: flex;
  margin-bottom: 15px;
}

.review-left {
  width: 10%;
  position: relative;
  float: left;
  margin-left: 10px;
}

.review-right {
  width: 90%;
  position: relative;
  float: right;
}

.author {
  margin-top: 4px;
  margin-bottom: 2px;
}

iframe {
  width: 100%;
}

.small-loader {
  margin-left: 50%;
}

.amazon-iframe {
  text-align: center;
}
